{% extends "Core/base.html" %}
{% block titulo %}Proyecto Info{% endblock %}
{% block body %}

<html>
<head>
<title> Acerca de </title>
</head>
<body>
<div class="row justify-content-md-center m-5 p-5">
    <h1>¿Quiénes somos?</h1>
        <p></p>
        <p>Somos un grupo de personas dispuestas a crear infinitas posibilidades dentro del mundo de la programación.</p>
        <p>Nuestra misión es organizar la información del mundo y hacer que sea útil y accesible para todos.</p>
        <p>Liderar el cambio.</p>
        <p>Siempre pensando en hacer posible lo imposible.</p>
</div>
</body>
</html>

{% endblock %}
